/*========== team_area css ===========*/
.team_area{
    
}
.team_item{
    text-align: center;
    margin-bottom: 30px;
    .team_img{
        position: relative;
        z-index: 1;
        &:before{
            content: "";
            top: 0;
            left: 0;
            background: #00c8e6;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            transition: color 0.3s, all 0.3s linear;
            z-index: 0;
        }
        img{
            max-width: 100%;
        }
        ul{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;
            opacity: 0;
            margin-top: 10px;
            transition: all 0.3s linear;
            li{
                display: inline-block;
                margin: 0px 7px;
                a{
                    font-size: 14px;
                    color: #fff;
                    opacity: 0.30;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .content{
        padding-top: 28px;
        h3{
            font-size: 18px;
            line-height: 22px;
            color: $dark;
            margin-bottom: 0px;
        }
        p{
            font-weight: 300;
            font-size: 14px;
            margin-bottom: 0px;
        }
    }
    &:hover{
        .team_img{
            &:before{
                opacity: 0.75;
            }
            ul{
                margin-top: 0px;
                opacity: 1;
            }
        }
    }
}



/*============= gallery area css ==============*/
.gallery_item{
    margin-bottom: 30px;
    img{
        max-width: 100%;
    }
	.gallery_img{
		position: relative;
		.hover{
			position: absolute;
			left: 0px;
			top: 0px;
			background: rgba(0, 0, 0, .5);
			width: 100%;
			text-align: center;
			font-size: 24px;
			height: 100%;
			color: #fff;
			transition: all 300ms ease;
			opacity: 0;
			i{
				position: absolute;
				left: 0px;
				top: 50%;
				width: 100%;
				text-align: center;
				transform: translateY(-50%);
				color: #fff;
			}
		}
		&:hover{
			.hover{
				opacity: 1;
			}
		}
	}
}